# Entornos virtuales
.venv/
.venv312/
venv/
env/
ENV/

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de log
*.log

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Archivos del sistema
.DS_Store
Thumbs.db

# Base de datos
*.db
*.sqlite
*.sqlite3
