DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sicefa

FINGERPRINT_PORT_DEFAULT=COM3
FINGERPRINT_BAUD_DEFAULT=57600
ARDUINO_PORT_DEFAULT=COM4
ARDUINO_BAUD_DEFAULT=115200

DEFAULT_THRESHOLD=50
DEFAULT_TOPN=5
DEFAULT_TIMEOUT_S=30
DEFAULT_DWELL=2

# Ajustes de interfaz
MODAL_SIZE=500x400
MAIN_WINDOW_SIZE=1200x800
MAIN_WINDOW_MIN_WIDTH=1000
MAIN_WINDOW_MIN_HEIGHT=700
